/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #dae6f0;
  --primary-200: #b5cde1;
  --primary-300: #90b4d2;
  --primary-400: #6b9bc3;
  --primary-500: #4682b4;
  --primary-600: #386890;
  --primary-700: #2a4e6c;
  --primary-800: #1c3448;
  --primary-900: #0e1a24;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --white: #fff;
  --red-dark: #842029;

  /* light mode */
  --background-color: var(--grey-50);
  --text-color: var(--grey-900);
  --background-secondary-color: var(--white);
  --text-secondary-color: var(--grey-500);
  --button-text-color: var(--white);

  /* dark mode */
  --darkMode-background-color: var(--grey-900);
  --darkMode-text-color: var(--grey-300);
  --darkMode-background-secondary-color: var(--grey-800);
  --darkMode-text-secondary-color: var(--grey-300);
  --darkMode-button-text-color: var(--grey-300);
  --darkMode-transition: color 0.3s ease-in-out,
  background-color 0.3s ease-in-out;

  --view-width: 90vw;
  --fixed-width: 600px;
  --max-width: 1120px;
  --fluid-width: 90vw;

  --nav-height: 6rem;
  --border-radius: 0.25rem;

  --medium-text: 0.875rem;
  --small-text: 0.8rem;
  --extra-small-text: 0.7em;

  --transition: 0.3s ease-in-out all;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.dark-theme {
  --background-color: var(--darkMode-background-color);
  --text-color: var(--darkMode-text-color);
  --text-secondary-color: var(--darkMode-text-secondary-color);
  --background-secondary-color: var(--darkMode-background-secondary-color);
  --button-text-color: var(--darkMode-button-text-color);
}

body {
  background: var(--background-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--text-color);
  transition: var(--darkMode-transition);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  height: 4rem;
  width: 4rem;
  border: none;
  border-top: 8px solid var(--primary-500);
  border-bottom: 8px solid var(--primary-500);
  border-radius: 50%;
  margin: 0 auto;
  animation: spinner 1s linear infinite;
}

/* ============= PROJECT CSS =============== */

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  color: var(--button-text-color);
  background: var(--primary-500);
  border-color: transparent;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-size: 1rem;

  &:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
  }
}

.btn-block {
  width: 100%;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background-color: var(--background-secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;

  .form-row {
    margin-bottom: 1rem;
  }

  .form-label {
    display: block;
    font-size: var(--small-text);
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    line-height: 1.5;
  }

  .form-input,
  .form-select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    border: 1px solid var(--grey-300);
    color: var(--text-color);
    height: 2rem;
    font-size: var(--medium-text);
  }

  .form-btn {
    align-self: end;
    margin-top: 1rem;
    display: grid;
    place-items: center;
  }
}

.pending {
  background: #fef3c7;
  color: #f59e0b;
}

.interview {
  background: #e0e8f9;
  color: #647acb;
}
.declined {
  background: #ffeeee;
  color: #d66a6a;
}